@font-face {
    font-family: Dosis;
    src: url(../Elementos/Dosis/Dosis-VariableFont_wght.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../Elementos/Roboto/Roboto-Medium.ttf);
}
.head{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 6rem;
    margin: 0%;
    border-bottom: black solid thin;
}

.logo{
    width: 10rem;
}

.navbar{
font-family: Dosis;
font-size: 24px;
font-weight: 500;
}

.nav-item{
    background-color: #00566a;
    margin: 0.3rem;
    transition: .3s;
}

.nav-item:hover{
    background-color: #0089a7;
    transform: scale(0.9);
}

.nav-item:active{
    background-color: #0088a78c;
    transform: scale(1.2);
}
.menu{
    z-index: 1000;
}



.carousel-caption {
    background-color: rgba(62, 152, 208, 0.815);
    border-radius: 2rem 2rem 2rem 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }



h1{
    font-family: Roboto;
    font-size: 35px;
    color: white;
}

p{
    font-family: Dosis;
    font-size: 20px;
    color: white;
}

.logo2{
    width: 11rem;
    background-color: white;
    border-radius: 2rem;
    bottom: 3%;
    transition: .3s;
}

.logo2:hover{
    transform: scale(1.1);
}



.pie{
    background-color: white;
    border-top: black solid thin;
}
.logo3{
    width: 10rem;
    margin: 1%;
}
  
.menu-item-footer{
    margin: 1%;
    background-color: #00566a;
    width: 120%;
    text-align: center;
    text-decoration: none;
    border-radius: 2rem 2rem 2rem 2rem;
    font-family: Dosis;
    color: white;
}

.menu-item-footer:hover{
    color: rgb(0, 251, 255);
    text-decoration: underline white;
   
}

.menu-item-footer:active{
    color: rgb(0, 119, 255);
    text-decoration: underline rgb(0, 251, 255);
   
}

h4{
   font-family: Roboto;
}

.icons{
    width: 3rem;
    transition: all 0.3s ease;
    margin: 1%;
}

.icons:hover{
    transform: scale(1.2);
}
  


.btn-play{
    position: relative;
    z-index: 2;
    border: 0;
    background: linear-gradient(to bottom right, rgb(0, 69, 88), rgb(0, 179, 228) , rgb(255, 255, 255));
    width: 15rem;
    height: 5rem;
    border-radius: 2rem;
    border: 2px rgb(183, 181, 181) solid;
    cursor: pointer;
    transition: .3s;
    
}

.pg-juego-link{
    font-size: 30px;
    font-family: Roboto;
    color: white;
    -webkit-text-stroke: 1px black;
    text-decoration: none;
}


.btn-play:hover{
    transform: scale(0.9);
    background: black;
}

.btn-play:active{
    transform: scale(1.3);
}